	<!-- Start Footer -->
	<footer class="footer-area bg-f">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<h3>About Us</h3>
					<p>We look forward to caring for you, and we hope all goes
                        well during your pregnancy.</p>
				</div>
			
				<div class="col-lg-34 col-md-6">
					<h3>Emergency Contacts</h3>
					<p class="lead">Paropakar Maternity & Women's Hospital, 
                        Maternity Hospital Road, Kathmandu 44600</p>
					<p class="lead"><a href="#">01-4260405</a></p>
					<p><a href="#"> info@admin.com</a></p>
				</div>
				
					
				</div>
			</div>
		</div>
		
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<p class="company-name">All Rights Reserved. &copy; 2020 <a href="#">Pregnancy Care</a> Design By : P-Care Group
					</p>
					</div>
				</div>
			</div>
		</div>
		
	</footer>