{% load static %}
<!DOCTYPE html>
<html lang="en"><!-- Basic -->
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
     <!-- Site Metas -->
    <title>Pregnancy Care - Responsive HTML5 Template</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="static/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">    
	<!-- Site CSS -->
    <link rel="stylesheet" href="static/css/style.css">    
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="static/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="static/css/custom.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
	<!-- Start header -->

	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="/home">
					<img src="static/images/logo.png" alt="" />
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-rs-food">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
						<li class="nav-item active"><a class="nav-link" href="/about">About Us</a></li>
						
						
						<li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- End header -->
	
	<!-- Start header -->
	<div class="all-page-title page-breadcrumb">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>About Us</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- End header -->
	
	<!-- Start About -->
	<div class="about-section-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<img src="static/images/9.png" alt="" class="img-fluid">
				</div>
				<div class="col-lg-6 col-md-6 text-center">
					<div class="inner-column">
						<h1><span>About Us</span></h1>
						<p>Getting good care during your pregnancy is very important. It can help your baby grow and develop and keep you both healthy. It is the best way to be sure your little one gets a head start on a healthy life.It’s important to take care of your baby, even before he or she is born. You can do this by living a healthy lifestyle and keeping doctor’s appointments while you’re pregnant. This is called prenatal care. You’re more likely to have a healthy birth if you maintain a healthy pregnancy.</p>
						<p>Is it your first time? Or do you want a better experience of pregnancy? Are you facing problems for managing time for your care? Are you forgetting to take medicines on time? Are you missing the check-up dates? Stop stressing yourself, we are here with solutions of your problems.
                           
                            </p>
                       
						
					</div>
				</div>
				<div class="col-md-12">
					<div class="inner-pt">
                        <p>We provide the service for your entire prenatal care. We will remind you to take medicines on time. You won’t miss your check-up dates. You will be following a healthy diet. We will help you to fight your mood swings. You will experience a healthy and happy pregnancy journey with us.</p>
                        <p>Sign in for the membership with P-care website and get the care for you and your small ones.</p>
                    </div>
				</div>
			</div>
		</div>
	</div>
	<!-- End About -->
	
	
	
	
	
	<!-- Start Footer -->
	<footer class="footer-area bg-f">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<h3>About Us</h3>
					<p>We look forward to caring for you, and we hope all goes
                        well during your pregnancy.</p>
				</div>
			
				<div class="col-lg-34 col-md-6">
					<h3>Emergency Contact</h3>
					<p class="lead">Paropakar Maternity & Women's Hospital,
                        Maternity Hospital Road, Kathmandu 44600
                    </p>
					<p class="lead"><a href="#">01-4260405</a></p>
					<p><a href="#"> info@admin.com</a></p>
				</div>
				
					
				</div>
			</div>
		</div>
		
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<p class="company-name">All Rights Reserved. &copy; 2020 <a href="#">Pregnancy Care</a> Design By : P-Care Group
					</p>
					</div>
				</div>
			</div>
		</div>
		
	</footer> 

	<!-- End Footer -->
	
	<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

	<!-- ALL JS FILES -->
	<script src="static/js/jquery-3.2.1.min.js"></script>
	<script src="static/js/popper.min.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
	<script src="static/js/jquery.superslides.min.js"></script>
	<script src="static/js/images-loded.min.js"></script>
	<script src="static/js/isotope.min.js"></script>
	<script src="static/js/baguetteBox.min.js"></script>
	<script src="static/js/form-validator.min.js"></script>
    <script src="static/js/contact-form-script.js"></script>
    <script src="static/js/custom.js"></script>
</body>
</html>