
<!DOCTYPE html>
<html>
<head>
    
     <!-- Site Metas -->
     <title>Awareness</title>
     <meta name="keywords" content="">
     <meta name="description" content="">
     <meta name="author" content="">
 
     <!-- Site Icons -->
     <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon">
     <link rel="apple-touch-icon" href="static/images/apple-touch-icon.png">
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="static/css/bootstrap.min.css">    
     <!-- Site CSS -->
     <link rel="stylesheet" href="static/css/style.css">    
     <!-- Responsive CSS -->
     <link rel="stylesheet" href="static/css/responsive.css">
     <!-- Custom CSS -->
     <link rel="stylesheet" href="static/css/custom.css">
</head>
<body>
    
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="/home">
					<img src="static/images/logo.png" alt="" />
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-rs-food">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/healthy_diet">Healthy Diet</a></li>
                        <li class="nav-item"><a class="nav-link" href="/exercises">Exercise</a></li>
                        <li class="nav-item"><a class="nav-link" href="/mental">Mental and Emotions</a></li>
                        <li class="nav-item"><a class="nav-link" href="/vitamins">Vitamins</a></li>
						<li class="nav-item active"><a class="nav-link" href="/awareness">Awareness</a></li>
						<li class="nav-item"><a class="nav-link" href="/pbook">Books</a></li>
                  					</ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- End header -->
   <!-- Start Gallery -->
   <div class="row">
	<div class="col-lg-12">
		<div class="heading-title text-center">
			<h2>Awareness</h2>
			<!-- <p>You must avoid the followings during your pregnancy. Intake or use of them can lead to different problems like miscarriage, under development of fetus, high risks for both mother and baby.
				</p> -->
		</div>
	</div>
</div>
	<div class="gallery-box">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<div class="inner-column">
							<h1><span>Awareness</span></h1>
						<p>You must avoid the followings during your pregnancy. Intake or use of them can lead to different problems like miscarriage, under development of fetus, high risks for both mother and baby.
							</p>
					</div>
				</div>
			</div>
			<div class="tz-gallery">
				<div class="row">
					<div class="col-sm-12 col-md-4 col-lg-4">
						<a class="lightbox" href="static/images/p1.jpg">
							<img class="img-fluid" src="static/images/p1.jpg" alt="Gallery Images">
						</a>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-4">
						<a class="lightbox" href="static/images/p2.jpg">
							<img class="img-fluid" src="static/images/p2.jpg" alt="Gallery Images">
						</a>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-4">
						<a class="lightbox" href="static/images/p3.jpg">
							<img class="img-fluid" src="static/images/p3.jpg" alt="Gallery Images">
						</a>
					</div>
					<div class="col-md-12">
						<div class="inner-pt">
							<h2>Awareness and Warnings</h2>
							<ol>
								<li>Don’t use anything labeled “toxic”.</li>
 								<li>Try natural cleaning products. They can be safer.</li>
								 <li>Wear thick rubber gloves and open the windows and doors to get rid of the fumes.</li>
								 <li>Stay away from nail salons when you’re pregnant. Chemicals in nail
									salons can let off dangerous gases.</li>
								<li>If you can’t get away, stay near an open window or door for
									fresh air.</li>
								<li>Dyes, permanents, and straighteners are generally safe. A very small
									amount of the chemical can go from your head into your body, but
									there are no reports that this is harmful to you or your baby.</li>
								<li>It’s best to avoid these products during the first trimester
									(weeks 1-12).</li>
								<li>Do not go in a hot tub that is hotter than 101-102 degrees.</li>
								<li>Do not stay in the hot tub for more than 10 minutes.</li>
								</li>Drink lots of water.</li>
								<li>If you feel hot, you probably need to get out!</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Gallery -->
    </html>
{% block content %}
{% endblock %}
{% include 'partials/footer.html' %}







