
<!DOCTYPE html>
<html>
<head>
    
     <!-- Site Metas -->
     <title>Healthy Diet</title>
     <meta name="keywords" content="">
     <meta name="description" content="">
     <meta name="author" content="">
 
     <!-- Site Icons -->
     <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon">
     <link rel="apple-touch-icon" href="static/images/apple-touch-icon.png">
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="static/css/bootstrap.min.css">    
     <!-- Site CSS -->
     <link rel="stylesheet" href="static/css/style.css">    
     <!-- Responsive CSS -->
     <link rel="stylesheet" href="static/css/responsive.css">
     <!-- Custom CSS -->
     <link rel="stylesheet" href="static/css/custom.css">
</head>
<body>
    
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="/home">
					<img src="static/images/logo.png" alt="" />
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-rs-food">
					<ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/healthy_diet">Healthy Diet</a></li>
                        <li class="nav-item active"><a class="nav-link" href="/exercises">Exercise</a></li>
                        <li class="nav-item"><a class="nav-link" href="/mental">Mental and Emotions</a></li>
                        <li class="nav-item"><a class="nav-link" href="/vitamins">Vitamins</a></li>
                        <li class="nav-item"><a class="nav-link" href="/awareness">Awareness</a></li>
                        <li class="nav-item"><a class="nav-link" href="/pbook">Books</a></li>
                  					</ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- End header -->
    <h1>Healthy Diet</h1>
    <div class="about-section-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6">
                    <img src="static/images/15.jpg" alt="" class="img-fluid">
                </div>
				<div class="col-lg-6 col-md-6 text-center">
					<div class="inner-column">
						<h1><span>Exercises</span></h1>
                            <p>Maintaining a regular exercise  routine throughout your pregnancy can help you stay healthy and feel your best. Regular exercise during pregnancy can improve your posture and decrease some common discomforts such as backaches and fatigue. 

                                What Exercises Are Safe During Pregnancy?
                                Most exercises are safe to perform during pregnancy, as long as you exercise with caution and do not overdo it.
                                The safest and most productive activities are swimming, brisk walking, indoor stationary cycling, step or elliptical machines, and low-impact aerobics (taught by a certified aerobics instructor). These activities carry little risk of injury, benefit your entire body, and can be continued until birth.
                            </p>
                            <p>Doing exercise every day will help you stay strong and fit and it will help
                                you prepare for having your baby.
                                Most women can do light to medium exercise. Talk with your
                                provider about your ideas before you start a new exercise.
                                Try to get 2-and-a-half hours of aerobic exercise every week.
                                Examples of aerobic exercises are:
                                <p>Walking
                                Swimming
                                Riding a bike (either a regular bike or a stationary bike)</p>
                                Try strengthening exercises using light weights.
                                Maybe join a prenatal exercise or yoga class. Tell your instructors
                                that you are pregnant.
                            </p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="inner-pt">
                        <h1><span>Weight Gains</span></h1>
                        <p>Most women gain 11-35 pounds during pregnancy. How much you should
                            gain depends on what you weighed before your pregnancy.
                            If you are starting at a heavier weight, it is better if you don’t gain a
                            lot of weight.
                            Talk to your provider to find out how much weight you should gain.
                            We have nutritionists for support.
                         </p>   
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <img src="static/images/one.jpg" alt="" class="img-fluid">
                </div>
            </div>
		</div>
	</div>
    </html>
{% block content %}
{% endblock %}
{% include 'partials/footer.html' %}






























