
<!DOCTYPE html>
<html>
<head>
    
     <!-- Site Metas -->
     <title>Healthy Diet</title>
     <meta name="keywords" content="">
     <meta name="description" content="">
     <meta name="author" content="">
 
     <!-- Site Icons -->
     <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon">
     <link rel="apple-touch-icon" href="static/images/apple-touch-icon.png">
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="static/css/bootstrap.min.css">    
     <!-- Site CSS -->
     <link rel="stylesheet" href="static/css/style.css">    
     <!-- Responsive CSS -->
     <link rel="stylesheet" href="static/css/responsive.css">
     <!-- Custom CSS -->
     <link rel="stylesheet" href="static/css/custom.css">
</head>
<body>
    
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="/home">
					<img src="static/images/logo.png" alt="" />
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-rs-food">
					<ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
                        <li class="nav-item active"><a class="nav-link" href="/healthy_diet">Healthy Diet</a></li>
                        <li class="nav-item"><a class="nav-link" href="/exercises">Exercise</a></li>
                        <li class="nav-item"><a class="nav-link" href="/mental">Mental and Emotions</a></li>
                        <li class="nav-item"><a class="nav-link" href="/vitamins">Vitamins</a></li>
                        <li class="nav-item"><a class="nav-link" href="/awareness">Awareness</a></li>
                        <li class="nav-item"><a class="nav-link" href="/pbook">Books</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- End header -->
    <h1>Healthy Diet</h1>
    <div class="about-section-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6">
                    <img src="static/images/food2.jpg" alt="" class="img-fluid">
                    <img src="static/images/food4.jpg" alt="" class="img-fluid">
                    <img src="static/images/food5.jpg" alt="" class="img-fluid">
				</div>
				<div class="col-lg-6 col-md-6 text-center">
					<div class="inner-column">
						<h1><span>Healthy Diet</span></h1>
                        <ul>
                          <li> •	Eat well and choose healthy foods. Most pregnant women need to eat only 100-300 extra calories per day to support a baby’s growth. For example, if you eat 2 eggs and 2 corn tortillas, that’s about 300 calories. One medium-sized apple and 2 tablespoons of peanut butter is about 300 calories.</li> 
                          <li> •	Eat many different fresh foods daily, including vegetables, fruits, protein, grains, and dairy.</li> 
                          <li> •	Watch serving sizes. You may be eating more than you need to. Don’t eat for two! 100-300 extra calories is not that much.</li> 
                          <li> •	Stay away from doughnuts, chips, fast food, sodas, cookies, and candy. Junk foods and sweets don’t support your baby’s growth.</li> 
                          <li>  •	Do not eat fish with high levels of mercury like fresh or frozen tuna steaks, or orange roughy.</li> 
                          <li>  •	Do not eat (raw) milk and cheeses. Bacteria in unpasteurized milk and cheese can be dangerous. If milk or cheese is pasteurized, that means the bacteria has been taken out.</li> 
                          <li>  •	Eat more wholegrain cereal products and less refined cereals.</li> 
                          <li> •	Eat plenty of vegetables and fruits, especially green leafy vegetable and fruits.</li> 
                          <li>  •	Eat pulses, fish, poultry, eggs and a little meat regularly.</li> 
                          <li>  •	Consume milk or milk products daily.</li> 
                          <li>  •	Consume moderate amounts of fat.</li> 
                          <li> •	Limit salt intake and use only adequately iodized salt.</li> 
                          <li> •	Consume less sugar, sweets and sweetened drinks.</li> 
                          <li> •	Eat clean foods and drink safe drinking water.</li> 
                            <li> •	Balance total food intake with physical activities.</li> 
                            <li> •	Consume locally available traditional foods and avoid junk foods.</li> 
                            <li> •	Avoid alcohol and tobacco products.</li> 
                            <li> •	Eat additional and especially nutritious food during pregnancy and lactation.</li> 
                        </ul>
                        <ul>
                            <div class="inner-column">
                                <h1><span>स्वस्थ आहार</span></h1>
                            राम्रोसँग खानुहोस् र स्वस्थ खानाहरू छनौट गर्नुहोस्। धेरै गर्भवती महिलाहरूले बच्चाको विकासलाई समर्थन गर्न प्रति दिन केवल १००-00०० अतिरिक्त क्यालोरी खानुपर्दछ। उदाहरण को लागी, यदि तपाई २ अण्डाहरु र २ कर्नल टर्टिलाहरु खानुहुन्छ भने त्यो करिब 300०० क्यालोरी हुन्छ। एक मध्यम आकारको स्याउ र बदाम बटरको २ चम्मच करिब 300०० क्यालोरी हुन्छ।
                            सागसब्जी, फलफूल, प्रोटीन, अन्न, र डेअरी सहित दैनिक धेरै फरक ताजा खाना खानुहोस्।
                            सेवा दिईएको आकारहरू हेर्नुहोस्। तपाईलाई चाहिने भन्दा बढी खाँदै हुनुहुन्छ। दुईको लागि नखानुहोस्! १००--3०० अतिरिक्त क्यालोरी त्यति धेरै हुँदैन।
                            डोनट्स, चिप्स, फास्ट फूड, सोडास, कुकिज, र क्यान्डीबाट टाढा रहनुहोस्। जंक फूडहरू र मिठाइहरूले तपाईंको बच्चाको विकासलाई समर्थन गर्दैन।
                            उच्च स्तरको पारा जस्तै ताजा वा फ्रिज गरिएको ट्युना स्टेक्स, वा सुन्तला रफ्टी भएको माछा खान नगर्नुहोस्।
                            (दुध र चिज खानु हुँदैन। अनपेस्टेराइज्ड दुध र पनीरमा ब्याक्टेरिया खतरनाक हुन सक्छ। यदि दूध वा चीजलाई पाश्चराइज गरिएको छ, यसको मतलब ब्याक्टेरिया बाहिर लगिएको छ।
                            अधिक सम्पूर्ण ग्रेन अनाज उत्पादनहरू र कम परिष्कृत अनाजहरू खान्नुहोस्।
                             धेरै तरकारीहरू र फलहरू खान, विशेष गरी हरियो पातदार तरकारी र फलफूल।
                             दाल, माछा, कुखुरा, अण्डाहरू र थोरै मासु नियमित रूपमा खानुहोस्।
                             दूध वा दुध उत्पादनहरू दैनिक उपभोग गर्नुहोस्।
                             बोसो को मध्यम मात्रा उपभोग गर्नुहोस्।
                            नुनको मात्रा सीमित गर्नुहोस् र पर्याप्त आयोडाइड नुनको मात्र प्रयोग  कम चिनी, मिठाई र मीठा पेय सेवन गर्नुहोस्।
                             सफा खाना खानुहोस् र सुरक्षित पिउने पानी पिउनुहोस्।
                            शारीरिक गतिविधिहरूको साथ कुल खाना सेवन सन्तुलित।
                            स्थानीय रूपमा परम्परागत खाद्य पदार्थ उपभोग गर्नुहोस् र जंक फूडहरू वेवास्ता गर्नुहोस्।
                             रक्सी र सुर्तीजन्य उत्पादनहरू त्याग्नुहोस्।
                            गर्भावस्था र स्तनपान गराउँदा अतिरिक्त र विशेष गरी पौष्टिक खाना खान्नुहोस्।
                            
                        </ul>
                        

                                    
                       
                    </div>
				</div>
              
            </div>
		</div>
	</div>
    </html>
{% block content %}
{% endblock %}
{% include 'partials/footer.html' %}

