
<!DOCTYPE html>
<html>
<head>
    
     <!-- Site Metas -->
     <title>Healthy Diet</title>
     <meta name="keywords" content="">
     <meta name="description" content="">
     <meta name="author" content="">
 
     <!-- Site Icons -->
     <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon">
     <link rel="apple-touch-icon" href="static/images/apple-touch-icon.png">
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="static/css/bootstrap.min.css">    
     <!-- Site CSS -->
     <link rel="stylesheet" href="static/css/style.css">    
     <!-- Responsive CSS -->
     <link rel="stylesheet" href="static/css/responsive.css">
     <!-- Custom CSS -->
     <link rel="stylesheet" href="static/css/custom.css">
</head>
<body>
    
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="/home">
					<img src="static/images/logo.png" alt="" />
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-rs-food">
					<ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
                        <li class="nav-item active"><a class="nav-link" href="/healthy_diet">Healthy Diet</a></li>
                        <li class="nav-item"><a class="nav-link" href="/exercises">Exercise</a></li>
                        <li class="nav-item"><a class="nav-link" href="/mental">Mental and Emotions</a></li>
                        <li class="nav-item"><a class="nav-link" href="/vitamins">Vitamins</a></li>
                        <li class="nav-item"><a class="nav-link" href="/awareness">Awareness</a></li>
                        <li class="nav-item"><a class="nav-link" href="/pbook">Books</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- End header -->
    <h1>Healthy Diet</h1>
    <div class="about-section-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<img src="static/images/3.jpg" alt="" class="img-fluid">
				</div>
				<div class="col-lg-6 col-md-6 text-center">
					<div class="inner-column">
						<h1><span>Healthy Diet</span></h1>
                        <ul>
                            <li>Eat well and choose healthy foods. Most pregnant women need to
                                eat only 100-300 extra calories per day to support a baby’s
                                growth. For example, if you eat 2 eggs and 2 corn tortillas, that’s
                                about 300 calories. One medium-sized apple and 2 tablespoons of
                                peanut butter is about 300 calories.</li>
                            <li>Eat many different fresh foods daily, including vegetables, fruits,
                                protein, grains, and dairy.</li>
                            <li>Watch serving sizes. You may be eating more than you need to.
                                Don’t eat for two! 100-300 extra calories is not that much.</li>
                            <li>Stay away from doughnuts, chips, fast food, sodas, cookies, and
                                candy. Junk foods and sweets don’t support your baby’s growth.</li>
                            <li>Do not eat fish with high levels of mercury like shark, swordfish,
                                king mackerel, tilefish, fresh or frozen tuna steaks, or orange roughy.</li>
                            <li>Do not eat unpasteurized (raw) milk and cheeses. Bacteria in
                                unpasteurized milk and cheese can be dangerous. If milk or
                                cheese is pasteurized, that means the bacteria has been taken out.</li>
                                <li>Stay away from soft cheeses like Mexican-style
                                    Queso Blanco or Fresco, Feta, or Brie. They are
                                    often unpasteurized.</li>

                                    
                        </ul>
                    </div>
				</div>
                <div class="col-md-12">
					<div class="inner-pt">
                        <h1><span>Cooking Food Safely</span></h1>
                        <ol>
                            <li>When you cook, wash your hands and cooking surfaces often.</li>
                            <li>Wash all fruits and vegetables before you eat them.</li>
                            <li>Keep raw meat away from other food.</li>
                            <li>Cook your food until it’s steaming hot. Put the food that you don’t eat in the refrigerator or the freezer.</li>
                            <li>Never eat raw foods like meat, fish, shellfish, or eggs.</li>
                        </ol>
                    </div>
                </div>
            </div>
		</div>
	</div>
    </html>
{% block content %}
{% endblock %}
{% include 'partials/footer.html' %}

