   <!DOCTYPE html>
    <html>
    <head>
        
         <!-- Site Metas -->
         <title>Healthy Diet</title>
         <meta name="keywords" content="">
         <meta name="description" content="">
         <meta name="author" content="">
     
         <!-- Site Icons -->
         <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon">
         <link rel="apple-touch-icon" href="static/images/apple-touch-icon.png">
         <!-- Bootstrap CSS -->
         <link rel="stylesheet" href="static/css/bootstrap.min.css">    
         <!-- Site CSS -->
         <link rel="stylesheet" href="static/css/style.css">    
         <!-- Responsive CSS -->
         <link rel="stylesheet" href="static/css/responsive.css">
         <!-- Custom CSS -->
         <link rel="stylesheet" href="static/css/custom.css">
    </head>
    <body>
        <!-- header -->
        <header class="top-navbar">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <a class="navbar-brand" href="/home">
                        <img src="static/images/logo.png" alt="" />
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbars-rs-food">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="/healthy_diet">Healthy Diet</a></li>
                            <li class="nav-item"><a class="nav-link" href="/exercises">Exercise</a></li>
                            <li class="nav-item active"><a class="nav-link" href="/mental">Mental and Emotions</a></li>
                            <li class="nav-item"><a class="nav-link" href="/vitamins">Vitamins</a></li>
                            <li class="nav-item"><a class="nav-link" href="/awareness">Awareness</a></li>
                            <li class="nav-item"><a class="nav-link" href="/pbook">Books</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <!-- End header -->
        <h1>Healthy Diet</h1>
        <div class="about-section-box">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <img src="static/images/22.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="col-lg-6 col-md-6 text-center">
                        <div class="inner-column">
                            <h1><span>Mental And Emotions</span></h1>
                            
                            <p>Preparing to have a baby come into your life is an exciting time, but also a challenging one. Don’t be surprised if you experience some emotional change at this time.
                            It’s normal to have some worries and fears about what’s coming when you’re pregnant. Many people feel quite stressed at this time, particularly when they know it’s a big change that they can’t fully prepare for or control.
                            In addition, pregnancy itself can be stressful. As well as dealing with hormonal and physical changes, you may feel stressed things such as antenatal tests
                            It’s just as important to look after your mental health and wellbeing during pregnancy as your physical health. If you are mentally healthy, you will be in the best position to manage the challenges of pregnancy and life with a new baby.
                            We recommend you some books and magazines that will light up your mood and would help you to get fresh.</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="inner-pt">
                            <h1><span>Pregnancy and Emotions</span></h1>
                            <p>Pregnancy and after birth are times of great change. While pregnancy and
                                birth are usually joyful, they are also times of stress.
                                Your emotional health is really important. Here are some things to know
                                about pregnancy and your mental and emotional health.
                                Depression: Women can develop depression during pregnancy or
                                after pregnancy. Here are some common signs of depression—
                                <p>Feeling down, depressed, or hopeless
                                Having little interest or pleasure in doing things
                                If any of these feelings are bothering you, talk to
                                your provider. </p>
                                <p>Anxiety (Worry): It’s normal to worry during pregnancy. If your
                                worries are so strong that you’re having trouble sleeping, thinking,
                                or doing your normal activities, talk to your provider.</p>
                             </p>   
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <img src="static/images/23.jpg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
        </html>
    {% block content %}
    {% endblock %}
    {% include 'partials/footer.html' %}
    
        

</body>
</html>