<!DOCTYPE html>
<html>
<head>
    
     <!-- Site Metas -->
     <title>Pregnancy care</title>
     <meta name="keywords" content="">
     <meta name="description" content="">
     <meta name="author" content="">
 
     <!-- Site Icons -->
     <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon">
     <link rel="apple-touch-icon" href="static/images/apple-touch-icon.png">
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="static/css/bootstrap.min.css">    
     <!-- Site CSS -->
     <link rel="stylesheet" href="static/css/style.css">    
     <!-- Responsive CSS -->
     <link rel="stylesheet" href="static/css/responsive.css">
     <!-- Custom CSS -->
     <link rel="stylesheet" href="static/css/custom.css">
</head>
<body>
     <!-- header -->
     <header class="top-navbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="/home">
                    <img src="static/images/logo.png" alt="" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbars-rs-food">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/healthy_diet">Healthy Diet</a></li>
                        <li class="nav-item"><a class="nav-link" href="/exercises">Exercise</a></li>
                        <li class="nav-item"><a class="nav-link" href="/mental">Mental and Emotions</a></li>
                        <li class="nav-item"><a class="nav-link" href="/vitamins">Vitamins</a></li>
                        <li class="nav-item"><a class="nav-link" href="/awareness">Awareness</a></li>
                        <li class="nav-item active"><a class="nav-link" href="/pbook">Books</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- End header -->
   <h1>Books</h1>
    <div class="about-section-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <img src="static/images/book.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="inner-column">
                        <h1><span>Pregnancy Books</span></h1>
                        <p>These free ebooks include:-</p>
                        <ol start="1">
                            <li><strong>1. The Prospective Mother, a Handbook for Women During Pregnancy by J. Morris Slemons</strong> (All formats) [<a href="https://www.gutenberg.org/ebooks/7129" target="_blank">View / Download</a>]</li>
                            <li><strong>2. Smashwords.com</strong> (10 free ebooks) (All formats) [<a href="https://www.smashwords.com/books/category/359/newest/0/free/any?ref=dead0eye" target="_blank">View / Download</a>]</li>
                            <li><strong>3. Bookrix.com</strong> (114 free ebooks) (EPUB, Online reading) [<a href="https://www.bookrix.com/search%3Bkeywords:pregnancy,searchoption:books.html" target="_blank">View / Download</a>]</li>
                            <li><strong>4. Baby &amp; Pregnancy</strong> (13 free ebooks) (PDF) [<a href="https://www.huggies.com.au/parenting/ebooks/" target="_blank">View / Download</a>]</li>
                            <li><strong>5. Pregnancy &amp; Reproductive Health</strong> (3 free ebooks) (PDF, Online reading) [<a href="https://www.billingslife.org.nz/useful-links/e-books/" target="_blank">View / Download</a>]</li>
                            <li><strong>6. Healthy Start For Your Pregnancy</strong> (4 chapters) (EPUB, PDF) [<a href="https://www.hpb.gov.sg/HOPPortal/health-article/12140" target="_blank">View / Download</a>]</li>
                            <li><strong>7. The Sensible Guide to A Healthy Pregnancy</strong> (56 pages) (PDF) [<a href="https://www.phac-aspc.gc.ca/hp-gs/pdf/hpguide-eng.pdf" target="_blank">View / Download</a>]</li>
                            <li><strong>8. Pregnancy Thrombophilia – The Unsuspected Risk, Edited by Petar Ivanov</strong> (7 chapters) (Online reading only) [<a href="https://www.intechopen.com/books/pregnancy-thrombophilia-the-unsuspected-risk" target="_blank">View / Download</a>]</li>
                            <li><strong>9. Managing Complications In Pregnancy And Childbirth: A Guide For Midwives And Doctors by WHO, United Nations Population Fund, UNICEF, The World Bank</strong> (Arabic, English, French, Indonesian, Italian, Russian, Spanish) (PDF) [<a href="https://www.who.int/maternal_child_adolescent/documents/9241545879/en/" target="_blank">View / Download</a>]</li>
                            <li><strong>10. Diabetes in Pregnancy by National Collaborating Centre for Women’s and Children’s Health (UK)</strong> (8 chapters) (PDF, Online reading) [<a href="https://www.ncbi.nlm.nih.gov/books/NBK51920/" target="_blank">View / Download</a>]</li>
                            <li><strong>11. Hypertension in Pregnancy by National Collaborating Centre for Women’s and Children’s Health (UK)</strong> (13 chapters) (PDF, Online reading) [<a href="https://www.ncbi.nlm.nih.gov/books/NBK62652/" target="_blank">View / Download</a>]</li>
                            <li><strong>12. Pregnancy A to Z by Dr. Warwick Carter</strong> (42 pages) (PDF) [<a href="https://www.medwords.com.au/Medwords/MW_U_AtoZ_files/Pregnancy%20A%20to%20Z.pdf" target="_blank">View / Download</a>]</li>
                            <li><strong>13. Multiple Pregnancy by National Collaborating Centre for Women’s and Children’s Health (UK)</strong> (13 chapters) (PDF, Online reading) [<a href="https://www.ncbi.nlm.nih.gov/books/NBK83105/" target="_blank">View / Download</a>]</li>
                            <li><strong>14. WHO Recommendations on Postnatal Care of the Mother and Newborn</strong> (PDF, Online reading) [<a href="https://www.ncbi.nlm.nih.gov/books/NBK190086/" target="_blank">View / Download</a>]</li>
                            <li><strong>15. Preterm Birth, Edited by Offer Erez</strong> (Online reading only) [<a href="https://www.intechopen.com/books/preterm-birth" target="_blank">View / Download</a>]</li>
                            </ol>

                        

                        <!-- <p>1.The Complete Book of Pregnancy and Childbirth,
                            by Sheila Kitzinger</p>
                        <p>2.Pregnancy, Childbirth and the Newborn: The Complete Guide,
                            by Simkin, Whalley & Keppler</p>
                            <p>3.The Thinking Woman’s Guide to a Better Birth, by Henri Goer</p>
                            <p>4.Birthing from Within: An Extra-Ordinary Guide to Childbirth
                                Preparation, by Pam England and Rob Horowitz </p>
                            <p>5.Our Bodies, Ourselves: Pregnancy and Birth, by Boston Women's
                                Health Book Collective and Judy Norsigian</p>
                                <p>6.The Pregnancy Book: Month-by-Month, by Martha Sears and
                                    William Sears</p>
                            <p>6.The Birth Book: Everything You Need to Know to Have a Safe
                                and Satisfying Birth, by William Sears and Martha Sears</p>
                            <p>7.Ina May’s Guide to Childbirth, by Ina May Gaskin</p>
                            <p>8.Fathering Right from the Start: Straight Talk about Pregnancy,
                                Birth, and Beyond, by Jack Heinowitz</p>
                            <p>9.When Survivors Give Birth: Understanding and Healing the
                                Effects of Early Sexual Abuse on Childbearing Women, by
                                Penny Simkin and Phyllis Klaus</p>
                   -->
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="inner-pt">
                        <h1><span>Links For Other Free Books</span></h1>
                        <p>1.The Year After Childbirth, by Sheila Kitzinger</p>
                        <p>2.Mothering the New Mother: Women's Feelings and Needs after
                            Childbirth, a Support and Resource Guide, by Sally Placksin</p>
<p>3.After the Baby's Birth: A Woman's Way to Wellness, A
Complete Guide for Postpartum Women, by Robin Lim</p>
 <p>4.The Baby Book: Everything You Need to Know About Your
Baby from Birth to Age Two, by William Sears, Martha Sears,
Robert Sears, and James Sears</p>
<p>5.Your Amazing Newborn, by Marshall H. Klaus & Phyllis H. Klaus</p>
<p>6.Cesarean Recovery, by Chrissie Gallagher-Mundy</p>
                            
                           
                         
                    </div>
                </div>
            </div>
        </div>
    </div>
    </html>
{% block content %}
{% endblock %}
{% include 'partials/footer.html' %}

    

</body>
</html>