<!DOCTYPE html>
<html>
<head>
    
     <!-- Site Metas -->
     <title>Healthy Diet</title>
     <meta name="keywords" content="">
     <meta name="description" content="">
     <meta name="author" content="">
 
     <!-- Site Icons -->
     <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon">
     <link rel="apple-touch-icon" href="static/images/apple-touch-icon.png">
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="static/css/bootstrap.min.css">    
     <!-- Site CSS -->
     <link rel="stylesheet" href="static/css/style.css">    
     <!-- Responsive CSS -->
     <link rel="stylesheet" href="static/css/responsive.css">
     <!-- Custom CSS -->
     <link rel="stylesheet" href="static/css/custom.css">
</head>
<body>
    <!-- header -->
    <header class="top-navbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="/home">
                    <img src="static/images/logo.png" alt="" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbars-rs-food">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/healthy_diet">Healthy Diet</a></li>
                        <li class="nav-item"><a class="nav-link" href="/exercises">Exercise</a></li>
                        <li class="nav-item"><a class="nav-link" href="/mental">Mental and Emotions</a></li>
                        <li class="nav-item active"><a class="nav-link" href="/vitamins">Vitamins</a></li>
                        <li class="nav-item"><a class="nav-link" href="/awareness">Awareness</a></li>
                        <li class="nav-item"><a class="nav-link" href="/pbook">Books</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- End header -->
    <h1>Healthy Diet</h1>
    <div class="about-section-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <img src="static/images/vv.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="inner-column">
                        <h1><span>Vitamins And Supplements</span></h1>
                        
                        <p>Eating a healthy diet is always a wise idea especially during pregnancy. It's also a good idea during pregnancy to take a prenatal vitamin to help cover any nutritional gaps in the mother's diet.</p>
                        <p>Calcium is also important for a pregnant woman. It can help prevent her from losing her own bone density as the baby uses calcium for its own bone growth.</p>
                            <p>Prenatal vitamins contain many vitamins and minerals. Their folic acid, iron, iodine, and calcium are especially important. 
                    </p>
                    <p>Iodine is critical for a woman’s healthy thyroid function during pregnancy. A deficiency in iodine can cause stunted physical growth, severe mental disability, and deafness. Not enough iodine can lead to miscarriage and stillbirth.</p>
                    <p>Iron helps blood in both the mother and baby carry oxygen.</p>    
                    <p>
                            Prenatal vitamins contain many vitamins and minerals that support your
                            health and your baby’s health.
                            Take a prenatal vitamin every day. Choose one with folic acid, iron,
                            and iodine.
                            If it makes you feel like you’re going to throw up, you can
                            try taking it before bed. You can also try chewable or
                            gummy vitamins.
                            If you’re throwing up your prenatal vitamin, take a folic acid
                            supplement instead. You should take 800 micrograms of folic
                            acid every day until your stomach feels better. </p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="inner-pt">
                        <h1><span>Omega-3s, Vitamin D, Iron and Calcium</span></h1>
                        <p>Omega-3s are a type of fat in fish. They are important for your baby’s brain
                            and eyes.
                            Try to eat two meals of low mercury fish every week. Some
                            examples of low mercury fish are catfish, salmon, tilapia, sardines,
                            anchovies, and whitefish.
                            If you don’t eat fish, take a Fish Oil (DHA) capsule every day.</p>
                            
                            <p>Vitamin D is an important vitamin that helps you and your baby develop
                                strong and healthy bones. It may also lower the risk of problems during
                                pregnancy, such as diabetes during pregnancy, early birth, and infection.
                                Prenatal vitamins usually don’t have much vitamin D.
                                You can get extra vitamin D from:
                                sunlight.
                                foods with vitamin D, such as fish, egg yolks, shitake
                                mushrooms, beef or calf liver, and foods that are
                                fortified with Vitamin D.
                                vitamin D pills.
                                Generally, 600-4,000 IU per day is a safe amount of
                                vitamin D to take. Check the label to see how much
                                vitamin D is in your prenatal vitamin or vitamin D pill. </p>
                            <p>Ask your provider if you need to take an iron or calcium supplement.</p>
                         </p>   
                    </div>
                </div>
            </div>
        </div>
    </div>
    </html>
{% block content %}
{% endblock %}
{% include 'partials/footer.html' %}

    

</body>
</html>